body {
    font-family: sans-serif;
    background-color: white;
}

label {
    margin-top: 24px;
    display: block;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    display: block;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    border-radius: 1px;
    border: 1px solid #010101;
}
#red::-webkit-slider-runnable-track {
    background: red;
}
#green::-webkit-slider-runnable-track {
    background: green;
}
#blue::-webkit-slider-runnable-track {
    background: blue;
}

input[type=range]::-webkit-slider-thumb,
button {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 36px;
    border-radius: 3px;
    background: #eee;
    -webkit-appearance: none;
    margin-top: -14px;
    outline: none;
    transition: background-color 200ms;
}

button,
#speech-result {
    height: 36px;
    width: 120px;
    font-size: 16px;
    margin-top: 12px;
    margin-right: 12px;
    transition: all 200ms;
}

.on {
    background-color: white;
    box-shadow: none;
    border-color: #bbb;
}